@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font1: "Poppins";
  --font2: "Playfair Display";
  --dark: #221608;
} 

body {
  margin: 0;
  background-color: #f7f0ea;
  font-family: var(--font1);
  overflow-x: hidden;
}

.flex, .flex__col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__col {
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  width: 100%;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  margin-right: 35px;
}
.menu a{
  font-size: 15px;
  font-weight: 600;
  color: var(--dark);
  text-decoration: none;
}
.menu ul{
  gap: 20px 80px;
}

h1{
  font-size: 120px;
  margin-left: 700px;
  font-family: 'Verdana';
  cursor: pointer;
  transition: all .2s ease-in;
}

h1 :hover{
  background: var(--dark);
  color: #fff;
}

.menu__right li a{
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all .2s ease-in;
}


.item{
  position: relative;
  width: 312vw;
  height: 200vw;
}


.item__titleOutline ,
.item__title {
  position: absolute;
  z-index: 1;
  top: 25%;
  right: 13%;
  font-family: var(--font2);
  font-size: 100px;
  font-weight: 700;
  line-height: 80%;
  color: var(--dark);
  text-align: center;
  transform: translate(-50%, -50%);
}

.item__titleOutline{
  z-index: 3;
  color: transparent;
  -webkit-text-stroke: 2px var(--dark);
}


.item img{
  position: relative;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 9/14;
  object-fit: cover;
  height: 100%;
  width: 50%;
}

ul.item__infos{
  width: calc(100% - 80%);
  justify-content: space-between;
}

.item__infos{
  font-size: 1vw;
}

.item__infos li span{
  color: #818181;
}

.item__type , .item__project{
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: #818181;
}

.item__type{
  left: 36px;
}

.item__project{
  right: 36px;
}

div .zero{
  background-color: #e69316be;
  margin-left: 120vw;
}
 
div .first{
  background-color: #0016d8ab;
  margin: 5%; 
}

div .second{
  background-color: #db1414af;
  font-size: 220px;
  margin: 5%;
}

div .third{
  background-color: #a723cfaf;
  margin: 5%;
}

div .fourth{
  background-color: #0fc74caf;
  margin: 5%;
}

div .fifth{
  background-color: #e69316be;
  margin: 5%;
}

